.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

.hide {
  opacity: 0;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word;
  max-width: 100%;
}

.truncate-text::after {
  display: none;
}

.dark .truncate-text::after {
  /* This pseudo-element is no longer necessary due to updated truncation styles */
}

@media (max-width: 1440px) {
  .truncate-text {
    max-width: calc(100% - 2rem); /* Adjust the value based on the layout testing */
  }
}

@media (hover: hover) {
  .hide {
    opacity: 0;
  }

  *:hover > .hide {
    opacity: 1;
  }
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

@keyframes slideUpButton1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50vh);
  } /* Adjust as needed */
}

@keyframes slideUpButton2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Hide the arrows for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
